# Security / Credentials
.env

# Virtual Environments
.venv/
venv/
env/

# Data & Outputs (Keeps repo lightweight)
polymer_data/
analysis_output/*
!analysis_output/Master_Trend_Data.xlsx
*.log

# Python Cache
__pycache__/
*.pyc

# IDE folders
.idea/
.vscode/
